{{>header}}
{{>navbar}}
<div class="row">
    <div class="col-8">
        <h1>Bob esponja</h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum beatae molestiae non ad excepturi neque modi, quod sit debitis dolore maxime error necessitatibus vitae repellat nobis et perferendis nesciunt voluptatem.
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/bob_esponja.png" alt="" class="img-thumbnail">
    </div>
</div>
{{>footer}}